<div id="footer">
  <div class="container">
    <ul>
      <li class="company">
        <h3>YOUR COMPANY HERE</h3>
        <a href="/about">About Us</a>
        <a href="/press">Press</a>
        <a href="/contact">Contact Us</a>
        <a href="/help">Help &#38; Support</a>
      </li>
    </ul>
    <div class="copyright">
      <span>Copyright &#169; <%= Time.now.year %>, YOUR COMPANY HERE. All rights reserved.</span>
      <span class="policies">
      <a href="/privacy">Privacy Policy</a> |
      <a href="/terms">Terms of Service</a>
      </span>
    </div>
  </div>
</div>
