  <div id="header">
    <h1><a href="/">YOUR COMPANY HERE</a></h1>

    <div class="caption">
      <!-- YOUR CAPTION HERE -->
    </div>

    <ul class="navigation">
      <!-- YOUR FEATURES HERE -->
      <li><a href="/#feature" class="local">Feature</a></li>
      <li><a href="/#another-feature" class="local">Another Feature</a></li>
      <li><a href="/about/">About Us</a></li>
    </ul>
  </div>
